# Python
__pycache__/
*.pyc
*.pyo
*.py[cod]
*$py.class

# Logs
*.log
log-webui.log

# Environment
.env
venv/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Runtime app data
data/
exports/
Microsoft/

# Local app settings
app_settings.json
